@import "variables";

@font-face {
  font-family: 'lite-editor-emoji-fonts-20180201';
  src:  url('#{$icomoon-font-path}/lite-editor-emoji-fonts-20180201.eot?cpcbey');
  src:  url('#{$icomoon-font-path}/lite-editor-emoji-fonts-20180201.eot?cpcbey#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/lite-editor-emoji-fonts-20180201.ttf?cpcbey') format('truetype'),
    url('#{$icomoon-font-path}/lite-editor-emoji-fonts-20180201.woff?cpcbey') format('woff'),
    url('#{$icomoon-font-path}/lite-editor-emoji-fonts-20180201.svg?cpcbey#lite-editor-emoji-fonts-20180201') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lite-editor-emoji-font-"], [class*=" lite-editor-emoji-font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lite-editor-emoji-fonts-20180201' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lite-editor-emoji-font-activity {
  &:before {
    content: $icon-lite-editor-emoji-font-activity;
  }
}
.lite-editor-emoji-font-place {
  &:before {
    content: $icon-lite-editor-emoji-font-place;
  }
}
.lite-editor-emoji-font-food {
  &:before {
    content: $icon-lite-editor-emoji-font-food;
  }
}
.lite-editor-emoji-font-nature {
  &:before {
    content: $icon-lite-editor-emoji-font-nature;
  }
}
.lite-editor-emoji-font-symbol {
  &:before {
    content: $icon-lite-editor-emoji-font-symbol;
  }
}
.lite-editor-emoji-font-people {
  &:before {
    content: $icon-lite-editor-emoji-font-people;
  }
}
.lite-editor-emoji-font-flag {
  &:before {
    content: $icon-lite-editor-emoji-font-flag;
  }
}

