$icomoon-font-path: "../fonts" !default;

$icon-lite-editor-emoji-font-activity: "\e900";
$icon-lite-editor-emoji-font-flag: "\e901";
$icon-lite-editor-emoji-font-food: "\e902";
$icon-lite-editor-emoji-font-nature: "\e903";
$icon-lite-editor-emoji-font-symbol: "\e904";
$icon-lite-editor-emoji-font-people: "\e905";
$icon-lite-editor-emoji-font-place: "\e906";

