$icomoon-font-path: "../fonts" !default;

$icon-lite-editor-emoji-font-activity: "\e901";
$icon-lite-editor-emoji-font-flag: "\e902";
$icon-lite-editor-emoji-font-food: "\e903";
$icon-lite-editor-emoji-font-nature: "\e904";
$icon-lite-editor-emoji-font-symbol: "\e905";
$icon-lite-editor-emoji-font-people: "\e906";
$icon-lite-editor-emoji-font-place: "\e907";
$icon-lite-editor-emoji-font-smile: "\e906";
